body {
  background-color: mistyrose;
}
h1 {
  color: black;
  font-family:terminus, consolas, monospace;
  font-size: 200%;
  line-height: 0.8:
}
p {
  color: black;
  font-family: terminus, consolas, monospace;
  font-size: 115%;
  line-height: 0.9;
}
