body {
  background-color: mistyrose;
  cursor: url('mousecursor.png'), auto;
}
h1 {
  color: black;
  font-family:terminus, courier, monospace;
  font-size: 200%;
  line-height: 1.2
}
p {
  color: black;
  font-family: terminus, courier, monospace;
  font-size: 115%;
  line-height: 1.2;
}
h2 {
  color: black;
  font-family:terminus, courier, monospace;
  font-size: small;
  line-height: 1
}
